body{
	background-image: url("http://cdn.superbwallpapers.com/wallpapers/artistic/stripes-14860-400x250.jpg");
	background-repeat:no-repeat;
	background-size: 100% 100%; 
}
h1{
	text-align: center;
	font-family: arial;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
li{
		display: inline;
		width:290px;
		float: left;
		margin-bottom: 20px;
}
a{
	text-decoration: none;
}
#locker{
	margin: 0 auto;
	display: block;
}
.Di{
	width: 250px;
	border-style: solid;
	border-width: 2px;
}

.Arsenal{
	width: 250px;
	border-style: solid;
	border-width: 2px;
}
#Di2{
	float: left;
	display: inline;
	margin-left: 100px;
}
#Arsenal2{
	float: left;
	display: inline-block;
	margin-left: 10px;
}
#Arsenal3{
	float: left;
	width: 200px;
	display: inline;
	margin-left: 10px;
}
#Arsenal4{
	float: left;
	display: inline-block;
	margin-left: 100px;
}
#Arsenal5{
	float: left;
	display: inline-block;
	margin-left: 10px

}
#Arsenal6{
	margin: 0 auto;
	display: block;
}
#messi {
	font-size: 40px;
	display: inline-block;
	margin-left: 10px;
}
h2{
	text-align:center ;
}
#Arsenal7{
	float: left;
	display: inline-block;
	margin-left: 10px
}
#Arsenal8{
	float: left;
	display: inline-block;
	margin-left: 10px
}
#ball{
	width:50px;
	height:50px;
	float:right;
	position: fixed;
	top: 0;
	right: 0;
}